/* Color palette with custom prefix */
:root {
    --lyri-color-primary: hsl(237, 24%, 36%); /* Ultra Violet */
    --lyri-color-primary-light: hsl(240, 19%, 42%); /* Lightened Ultra Violet */
    --lyri-color-primary-dark: hsl(240, 24%, 30%); /* Darkened Ultra Violet */

    --lyri-color-off-white: #ffffff; /* Almond */
    --lyri-color-off-white-soft: #f5e6d4; /* Softer Almond */
    --lyri-color-off-white-mute: #efe0ca; /* Muted Almond */

    --lyri-color-off-black: #161b33; /* Oxford Blue */
    --lyri-color-off-black-soft: #232941; /* Softer Oxford Blue */
    --lyri-color-off-black-mute: #2c3148; /* Muted Oxford Blue */

    --lyri-color-secondary: #a69cac; /* Rose Quartz */
    --lyri-color-secondary-light: #b8aebe; /* Lightened Rose Quartz */
    --lyri-color-secondary-dark: #918798; /* Darkened Rose Quartz */

    --lyri-color-divider-light-1: hsla(240, 7%, 41%, 0.29); /* Derived from Ultra Violet */
    --lyri-color-divider-light-2: hsla(240, 7%, 41%, 0.12); /* Derived from Ultra Violet */
    --lyri-color-divider-dark-1: hsla(230, 40%, 14%, 0.65); /* Derived from Oxford Blue */
    --lyri-color-divider-dark-2: hsla(230, 40%, 14%, 0.48); /* Derived from Oxford Blue */

    --lyri-color-primary-text: var(--lyri-color-off-black);
    --lyri-color-secondary-text: hsla(229, 46%, 12%, 0.64); /* Ultra Violet tone */
    --lyri-color-inverted-text: var(--lyri-color-off-white);
    --lyri-color-muted-text: hsla(29, 62%, 86%, 0.64); /* Almond tone */
}

/* Semantic color variables */
:root {
    --color-primary: var(--lyri-color-primary);
    --color-primary-light: var(--lyri-color-primary-light);
    --color-primary-dark: var(--lyri-color-primary-dark);

    --color-background: var(--lyri-color-off-white);
    --color-background-soft: var(--lyri-color-off-white-soft);
    --color-background-mute: var(--lyri-color-off-white-mute);

    --color-border: var(--lyri-color-divider-light-2);
    --color-border-hover: var(--lyri-color-divider-light-1);

    --color-heading: var(--lyri-color-primary-text);
    --color-text: var(--lyri-color-primary-text);
    --color-text-secondary: var(--lyri-color-secondary-text);

    --color-background-dark: var(--lyri-color-off-black);
    --color-background-dark-soft: var(--lyri-color-off-black-soft);
    --color-background-dark-mute: var(--lyri-color-off-black-mute);

    --color-border-dark: var(--lyri-color-divider-dark-2);
    --color-border-dark-hover: var(--lyri-color-divider-dark-1);

    --color-heading-dark: var(--lyri-color-inverted-text);
    --color-text-dark: var(--lyri-color-inverted-text);
    --color-text-dark-secondary: var(--lyri-color-muted-text);

    /* Sizing variables */
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 1.5rem;

    --padding-small: 0.5rem;
    --padding-base: 1rem;
    --padding-large: 1.5rem;
    --padding-xlarge: 2rem;

    --margin-small: 0.5rem;
    --margin-base: 1rem;
    --margin-large: 1.5rem;
    --margin-xlarge: 2rem;

    --gap-small: 0.5rem;
    --gap-base: 1rem;
    --gap-large: 1.5rem;
    --gap-xlarge: 2rem;

    --size-small: 0.25rem;
    --size-base: 0.5rem;
    --size-large: 1rem;
    --size-xlarge: 1.5rem;

    --section-gap: 10rem;
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

body {
    font-size: var(--font-size-base);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-background);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: var(--padding-small);
    text-align: left;
    border-bottom: 1px solid var(--color-border);
} */

/* hr {
    border: none;
    height: 1px;
    background-color: var(--color-border);
} */

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    padding: var(--padding-small);
    border-radius: 4px;
    appearance: none;
}

input,
textarea,
select {
    background-color: transparent;
    border: 1px solid var(--color-border);
}

*:focus {
    outline: none;
    box-shadow: 0px 0px 0px var(--size-small) var(--lyri-color-divider-light-1);
    transition: box-shadow 150ms ease-in-out;
}

button:hover,
button:focus {
    background-color: var(--color-primary-dark);
}

button:active {
    scale: 0.98;
}

button {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--lyri-color-off-white);
    padding: var(--padding-small) var(--padding-base);
    border-radius: var(--size-small);
    border: none;
    font-size: var(--font-size-base);

    transition: scale 150ms ease-in-out;
}

#app {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}
